body {
    background-color: powderblue;
    text-align: center;
}

aside {
    text-align: right;
}

@keyframes example {
  0%   {color:purple; left:0px; top:0px;}
  25%  {color:aquamarine; left:200px; top:0px;}
  50%  {color:rgb(235, 133, 218); left:200px; top:200px;}
  75%  {color:rgb(139, 218, 255); left:0px; top:200px;}
  100% {color:rgb(175, 247, 175); left:0px; top:0px;}
}
h1 {
  color:purple;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
animation-name: example;
animation-duration: 30s
}





  body { 
     margin: 0;
      padding: 0;
     }

  .header {
     background-color: plum;
     padding: 20px;
      text-align: center;
     }

  .content { 
    padding: 20px;
 } 

  .form-group {
     margin-bottom: 15px;
     padding: 2pc;
     padding-top: 1pc;
 } 
  .form-group label { 
    display: block;
     margin-bottom: 5px;
     }
   .form-group input, .form-group textarea
    { width: 50%;
         padding:10px;
          box-sizing: border-box;
        border-style: double; } 
   .form-group button {
     padding: 10px 20px; 
     background-color: plum; color: rgb(8, 8, 8); border:bold;
     cursor: pointer;
     
     } 
  

#nav_menu ul {
    grid-template: auto / repeat(5, 1fr);
    align-content: center;
    }
    #nav_menu ul li a {
     border-style:groove;
     text-align: center;
     text-emphasis-color: black;
     border-color: black;
     padding: 1em 0;
     background-color: plum;
     color: black;
     font-weight: bold;
    }
   
   
    nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: center;
      background-color:palevioletred;
    }
    nav ul li {
      margin: 10px;
    }
    nav ul li a {
      color: white;
      text-decoration: none;
      padding: 10px 15px;
    }
    nav ul li a:hover, .active {
      background-color: rgb(221, 64, 116);
      border-radius: 8px;
     
    }
   
   #map {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    border: 2px solid palevioletred;
    margin-top: 20px;
    align-content: center;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none; /* Removes border around iframe */
  }
   
  